body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.main {
    margin-top: 100px;
    max-width: 500px;
}
.small-buttons{
    float: right;
}